{% extends 'accounts/navbar.html' %}
{% load static %}
{% block content %}
<style>
    #delete_heading{
        padding: 20px;
    }
    #delete_user {
        margin-left: 20px;
        height: 40px;
        outline: none;
        border: none;
        font-family: 'Montserrat', sans-serif;
        color: #741e1e;
        font-weight: bold;
        width: 90px;
        background: var(--maroon);
        cursor: pointer;
        color: var(--gold);
    }
    #cancel_delete{
        display: inline-block;
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
        color: #741e1e;
        font-weight: bold;
        width: 90px;
        background: var(--gold);
        cursor: pointer;
        color: var(--maroon);
        text-align: center;
    }
</style>
    <h1 id="delete_heading">Are you sure you want to delete "{{ delete_user }}"?</h1>
    <form action="{% url 'admindeleteuser' delete_user.id %}" method="POST">
        {% csrf_token %}
        <a href=""> <input type="submit" value="Confirm" id="delete_user"> </a>
        <a href="{% url 'adminuserlogs' %}" id="cancel_delete">Cancel</a>

    </form>
{% endblock content %}